body {
  background: #fcfcfc;
  color: #333;
  font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

* {
  font-family: "Lato", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

@import 'live-search';